<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:theme="@style/Theme.BinasJC"
        tools:targetApi="31">
        <activity
            android:name=".TelaMensagens"
            android:exported="false" />
        <activity
            android:name=".VisualizarTrajectoria"
            android:exported="false" />
        <activity
            android:name=".VisualizarCiclistasMapa"
            android:exported="false" />
        <activity
            android:name=".TelaMapa"
            android:exported="false" />
        <activity
            android:name=".MinhaConta"
            android:exported="false" />
        <activity
            android:name=".VisualizarCiclista"
            android:exported="false" />
        <activity
            android:name=".VisualizarBicicleta"
            android:exported="false" />
        <activity
            android:name=".VisualizarEstacao"
            android:exported="false" />
        <activity
            android:name=".TelaInicialCiclista"
            android:exported="false" />
        <activity
            android:name=".TelaRegisto"
            android:exported="false" />
        <activity
            android:name=".TelaLogin"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBp9KIKPR68dSHBma_AWlBRBu5c8G0HDvg" />
    </application>

</manifest>